*{
  box-sizing: border-box;
}

body{
  margin: 10;
  font-family: monospace;
}

img{
  max-width: 100%;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  color: black;
}

.vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 5%;
  height: 300%;
  /* background-color: red; */

}

.title{
  width: 50%;
  margin-bottom: 5%;
  top: 0;
  color: rgb(5, 0, 255);
}
